.myTableStyle {
    border: "5px solid black";
}

.myRed{
    color: rgb(255, 0, 0);
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}

.my-readonly{
    background-color: rgb(145, 142, 172)
}